/* CSS Document */
 #arriere{ background-color:#906}
 #curlstyle { background-image:url(code-binaire-matrix-bitcoin-investisseur.jpg); height:200px; overflow:auto} 
#txtstyle { background-color:#6F6; border:2px; border-color: #333333 }
#liens {background-color:#66C; border:2px; color:#0C3; width:1755px; height:650px; overflow:auto}
#txtaffichage {font-style:italic oblique; font-family:"Comic Sans MS", cursive; color:#666; margin-left:700px}
#fontac {background-image:url(14588056-hand-write-a-html-source-code.jpg); height:860px; width:1748px}
